nav {
    border: #c00000 5px solid;
    margin: 0.5em;
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        li{
            list-style: none;
            margin: 1em;
            a{
                // text-decoration: none;
                color: #ffffff;
            }
            a:hover{
                color: #c00000;
            }
        }
    }
}