h1 {
    font-size: 5em;
    text-align: center;
    margin-top: 0.5em;
    font-weight: 700;
}
H2 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    
}

.flexbox{
    display: flex;
    justify-content:center;
    // align-items: center;
    // flex-wrap: wrap;
    margin-top: 1em;
    .container{
        width: 50%;
        margin: 1em;
        padding: 1%;
        h3{
            font-size: 1.7em;
            text-align: center;
            margin-top: 1em;
        }
        p{
            font-size: 1.5em;
            text-align: center;
            margin-top: 1em;
        }
    }
}