<app-navbar></app-navbar>
<H1>Délimobile</H1>
<h2>Food truck service</h2>

<img src="" alt="">

<div class="flexbox">
    <div class="container">
        <h3>Qui sommes nous?</h3>
        <p>Délimobile est un foodtruck familial dédié à la préparation de burgers savoureux, 
            confectionnés avec des produits locaux. Nous privilégions des ingrédients frais et de qualité 
            pour vous offrir une expérience culinaire exceptionnelle dans un cadre convivial et chaleureux. 
            Profitez de nos burgers gourmands, élaborés avec soin et passion, 
            tout en soutenant l'agriculture locale. 
        </p>
    </div>
    <div class="container">
        <h3>Ou nous retrouver</h3>
        <p>Tous les mardi à Seilles devant chez Hussons de 11h à 14h</p>
        <p>Tous les jeudi à Bonneville à la rue Sainte Anne</p>
        <p>Ou sur réservation lors de vos événements</p>
    </div>
</div>


<div class="flexbox">
    <div class="container">
        <h3></h3>
    </div>
    <div>
        <h3></h3>
    </div>
    <div>
        <h3></h3>
    </div>
</div>

<app-footer></app-footer>