<app-navbar></app-navbar>
<H1>Délimobile</H1>
<h2>Food truck service</h2>

<img src="" alt="">

<div class="flexbox">
    <div class="container">
        <h3>Qui sommes nous?</h3>
        <p>Délimobile est une société de foodtruck familial qui se fourni en produit locaux 
            et propose des burgers de qualité dans un cadre convivial et chaleureux. 
            
        </p>
    </div>
    <div class="container">
        <h3>Ou nous retrouver</h3>
        <p>tous les mardi à Seilles devant chez Hussons de 11h à 14h</p>
        <p>tous les jeudi à Bonneville à la rue Sainte Anne</p>
    </div>
</div>


<div class="flexbox">
    <div class="container">
        <h3></h3>
    </div>
    <div>
        <h3></h3>
    </div>
    <div>
        <h3></h3>
    </div>
</div>